header {
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	@include background-cover;
	text-align: center;
	color: white;
	text-decoration: none;
}

#page-header {
	background-image: url('../img/header-bg.jpg');
}

#about-header {
	background-image: url('../img/production/broken.jpg');
}

// .intro-text-about {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	padding: 1rem 0;
// }
