header {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	@include background-cover;
	text-align: center;
	color: white;
	text-decoration: none;
}

#page-header {
	background-image: url('../img/header-bg.jpg');
}

#about-header {
	background-image: url('../img/production/broken.jpg');
}
