::-moz-selection {
	text-shadow: none;
	background: $theme-primary;
}

::selection {
	text-shadow: none;
	background: $theme-primary;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	webkit-tap-highlight-color: $theme-primary;
	font-size: 1.75rem;
}

a {
	color: $green;
	text-decoration: none;
	&:active,
	&:focus,
	&.active {
		color: $sepia;
		outline: none;
	}
	&:visited {
		color: $green;
		outline: none;
	}
}

iframe {
	margin: 2em 0;
	outline: none;
	border: none;
	border-radius: 3px;
}
