.intro-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.intro-location {
	@include serif-font;
	font-style: italic;
	font-size: 2em;
	line-height: 2em;
	//padding-bottom: 1.5em;
}

.intro-heading {
	@include script-font;
	font-size: 4em;
	line-height: 4em;
	padding: 2em 0 0 0;
}

@media(min-width:768px) {
	header {
		.intro-text {
			padding-top: 200px;
			padding-bottom: 150px;
		}
	}
}
