.intro-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//padding-bottom: 1rem;
}

.intro-location {
	@include serif-font;
	font-style: italic;
	font-size: 2em;
	line-height: 2em;
	//padding-bottom: 1.5em;
}

.intro-heading {
	@include script-font;
	font-size: 4rem;
	line-height: 1;
}

header {
	.intro-text {
		padding: 275px 0 125px 0;
	}
	.intro-text-about {
		padding: 200px 0;
	}
	@media screen and (min-width:768px) {
		.intro-text {
			padding: 300px 0;
		}
	}
}
