<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Legacy Electric</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom Fonts --><!-- alternate title fonts: kavoon google, ostrich sans leagueofmoveabletype -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
    <link href="https://fonts.googleapis.com/css?family=Kavoon" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />


    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid navbar-flex">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <div id="brand-div">
                    <div id="brand-div-img">
                        <img src="img/logo-s.png" />
                    </div>
                    <div id="brand-div-text">
                        <a class="navbar-brand page-scroll" href="#page-top">Legacy Electric</a>
                        <span>TECL 28323</span>
                    </div>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-flex">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#homes">For Homes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reviews">Hours &amp; Reviews</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Email</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="tel:+15126695115">512-669-5115</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.facebook.com/Legacy-Electrical-Services-206852639374010/" target="_blank"><i style="font-size: 1.75em;" class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.yelp.com/biz/legacy-electrical-services-austin" target="_blank"><i style="font-size: 1.75em;" class="fa fa-yelp"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="page-header">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Friendly third-generation electricians</div>
                <div class="intro-location">serving Austin, Texas</div>
            </div>
        </div>
    </header>

    <!-- Homes section -->
    <section id="homes">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">For Homes</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>There's a whole host of electrical problems that plague homeowners, such as: </p>
                    <ul>
                        <li>Switches must be toggled to turn on an outlet;</li>
                        <li>Switches that don't do anything;</li>
                        <li>Outlets that don't work;</li>
                        <li>The "vacuum problem": lights that flicker or dim when operating small appliances;</li>
                        <li>Wobbly ceiling fans; or</li>
                        <li>Regularly tripping GFCIs (circuit breakers).
                    </ul>
                    <p>We provide a range of solutions to these problems.  The dangers of a poorly-wired home can be very real, and as parents ourselves we understand some of the worries involved.  All our work is guaranteed for a full year.  Integrity is our business, and peace of mind is our product.</p>
                </div>
                <div class="col-md-4">
                    <div class="col-img-div">
                        <img src="img/production/builder.jpg" alt="the Trailview home by Five Stones Construction" />
                    </div>
                    <h3>For Builders</h3>
                    <p>
                        Years of experience in the custom home industry have taught us exactly how to avoid the above list of issues. We run spare circuits to accessible attic spaces for future growth. We organize wires neatly and cleanly, so your homes don't look like a rat's nest in the attic. We wire outlets and switches separately, to avoid the "vacuum problem". All our designs are clean and easy to operate.  These are just a few of the many ways in which we go above and beyond to help you create amazing new homes that buyers are excited to live in year after year.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="col-img-div">
                        <img src="img/production/home.jpg" alt="a brightly lit South Austin living room" />
                    </div>
                    <h3>For Homeowners &amp; Landlords</h3>
                    <p>
                        We provide superior service correcting electrical problems in your home or rental properties.  Some problems can even be explained over the phone free of charge.  We can help keep your home and family safe with tamper-resistant outlets and surge protection.  We handle emergencies and are fully bonded, insured, and licensed by the Texas Department of Licensing and Regulation.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="col-img-div">
                        <img src="img/production/remodel.jpg" alt="electric conduits coming out of a wall during remodel" />
                    </div>
                    <h3>Remodeling</h3>
                    <p>We can also help you to realize your future plans within your home by designing and implementing electrical renovations.  Among other services, we offer advanced Lutron lighting products that give you the ability to control all the lights in your home from one location with an easy-to-use button control. Lutron allows you to preset lighting "scenes" for enjoying your favorite moods and events (such as a party, movie, or dinner), extends bulb life, and provides unique energy savings and home security features.  Most Lutron solutions can be retrofitted to your home with little to no new wiring, making them accessible for your next renovation project.</p>
                </div>
            </div>

        </div>
    </section>
    
    <!-- about leading image -->
    <header id="about-header">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-blue">Your problems, our solutions</div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3>Legacy Electrical Services</h3>
                    <h4>TECL 28323</h4>
                    <p>We specialize in high-quality electrical work for residences. Our team members have over fifteen years of combined experience dealing with home electrical systems, both remodels and new construction. Our experience runs the gamut from investigating malfunctioning GFCIs to completely wiring several thousand square-foot homes. The quality of our work is rarely matched, and the integrity we bring to the table will ensure your complete satisfaction, to the end of the job and beyond.  We are fully bonded, insured, and licensed by the Texas Department of Licensing and Regulation. </p>
                    <h3>Mission Statement</h3>
                    <p>To provide those we serve with peace of mind through superior service, excellence in electrical knowledge, and unwavering integrity.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Meet Our Team</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Lane Eskew</h4>
                        <p class="text-muted">Owner and Master Electrician</p>
                        <p>Lane was born and raised in South Austin and nearby Driftwood. Both of his folks were born here as well and both sides have been in the Austin area for generations. During his summers and several Christmas vacations growing up, he worked for his old man at his electrical contracting company... and the rest is history. He started Legacy Electrical Services to serve his neighbors and fellow Austinites in the manner he believes they deserve.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Candyce Eskew</h4>
                        <p class="text-muted">Office Manager</p>
                        <p>Lane's wife Candyce was born and raised in Austin and nearby Pflugerville. Her father's family has been in Austin for generations, and her mother's family moved here from West Texas. She earned a BBA in management from the University of Texas and enjoys being a mom to their two daughters.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Employee</h4>
                        <p class="text-muted">Employee</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- hours & reviews section -->
    <section id="reviews" class="bg-light-gray">
        {{{body}}}
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; 2017 <a href="http://studioriehl.com/" target="_blank">Studio Riehl</a> for Legacy Electrical Services</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>

</html>
