<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
<div class="container-fluid navbar-flex">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header page-scroll">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
		</button>
		<div id="brand-div">
			<div id="brand-div-img">
				<img src="img/logo-s.png" />
			</div>
			<div id="brand-div-text">
				<a class="navbar-brand page-scroll" href="#page-top">Legacy Electric</a>
				<span>TECL 28323</span>
			</div>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right navbar-flex">
			<li class="hidden">
				<a href="#page-top"></a>
			</li>
			<li>
				<a class="page-scroll" href="#homes">For Homes</a>
			</li>
			<li>
				<a class="page-scroll" href="#about">About</a>
			</li>
			<li>
				<a class="page-scroll" href="#reviews">Hours &amp; Reviews</a>
			</li>
			<li>
				<a class="page-scroll" href="#contact">Email</a>
			</li>
			<li>
				<a class="page-scroll" href="tel:+15126695115">512-669-5115</a>
			</li>
			<li>
				<a class="page-scroll" href="https://www.facebook.com/Legacy-Electrical-Services-206852639374010/" target="_blank"><i style="font-size: 1.75em;" class="fa fa-facebook-square"></i></a>
			</li>
			<li>
				<a class="page-scroll" href="https://www.yelp.com/biz/legacy-electrical-services-austin" target="_blank"><i style="font-size: 1.75em;" class="fa fa-yelp"></i></a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
