
	<!-- about leading image -->
<header id="about-header">
	<div class="container">
		<div class="intro-text intro-text-about">
			<div class="intro-heading text-blue">Your problems, our solutions</div>
		</div>
	</div>
</header>
<section id="about">
		{{> index/about/about}}
		{{> index/about/team}}
</section>
