<section id="about">
	<!-- about leading image -->
	<header id="about-header">
		<div class="container">
			<div class="intro-text">
				<div class="intro-heading text-blue">Your problems, our solutions</div>
			</div>
		</div>
	</header>
		{{> index/about/about}}
		{{> index/about/team}}
</section>
