<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Contact Us</h2>
				<div id="success"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
					<form name="sentMessage" id="contactForm" class="contact__form">
						<div class="contact__fields">
							<div class="contact__fields--inputs contact__fields--inputs--i">
								<div class="contact__float-label">
									<label for="name">Your Name</label>
									<input type="text" class="contact__input" name="name">
								</div>
								<div class="contact__float-label">
									<label for="email">Your Email</label>
									<input class="contact__input" name="email">
								</div>
								<div class="contact__float-label">
									<label for="tel">Your Phone (optional)</label>
									<input type="tel" class="contact__input" name="tel">
								</div>
							</div>
							<div class="contact__fields--inputs contact__fields--inputs--t">
								<div class="contact__float-label--t">
									<label for="message">Your Message</label>
									<textarea class="contact__input" name="message"></textarea>
								</div>
							</div>
						</div>
						<div class="contact__fields--submit">
							<div class="contact--captcha--container">
								<div class="contact--captcha g-recaptcha" data-sitekey="{{siteKey}}"></div>
							</div>
							<div class="contact__button__container">
								<button type="submit" class="contact__button">
									Send Message
								</button>
							</div>
						</div>
					</form>
				</div>
		</div>
	</div>
</section>
